@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #09090b;
    /* Dark theme default */
    color: #f5f5f5;
}